*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url(project-management.png);
    background-repeat: no-repeat;
    
}
h1{
    text-align: center;
    margin-top: 80px;
    text-shadow: 3px 3px #e0f61c;

}
.container{
    display: flex;
    background-color: #000;
    height: 250px;
    width: 350px;
    opacity: 0.8;
    color: #f1f1f1;
    margin: auto;
    margin-top: 0px;
    box-shadow: 10px 10px #e0f61c;
    
}
.container input{
    margin-top: 20px;
    height: 30px;
    color: #000;
    font-size: large;
    font-weight: 400;
    
}

#submit{
    margin-left: 140px;
    border-radius: 8px;
    text-transform: uppercase;
  
}
#submit:hover{
    background-color: #66ff00;
    
}
#message {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
    
}
